<ul>
{% for comment in page.comments %}

<li class="comment even thread-even depth-1" id="comment-{{ comment.id }}">
		<div id="div-comment-{{ comment.id }}" class="comment-body">
		<div class="comment-author vcard">
      <img src="{{ comment.author_email | to_gravatar }}" alt="A photo of {{ comment.author }}"  class="avatar avatar-96 photo" height="96" width="96" />

        <cite class="fn">
          {% if comment.author_url.size == 0 %}
          {{ comment.author }}
          {% else %}
          <a href="{{ comment.author_url }}" rel="external nofollow" class="url">{{ comment.author }}</a>
          {% endif %}
        </cite>
      <span class="says">says:</span>
</div>

	<div class="comment-meta commentmetadata">
    {{ comment.date }}
  </div>

	<p>{{ comment.content }} </p>

		</div>
	</li>
{% endfor %}
</ul>
